.version.__________________________ /* version checker */
{
	color: #000019;
	background-color: #004A3B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2049px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u959
{
	z-index: 2;
	width: 125px;
	margin-right: -10000px;
	margin-top: 655px;
	left: 429px;
}

#u959_clip
{
	width: 125px;
	height: 988px;
}

#u959_img
{
	margin-left: -423px;
	margin-right: -1294px;
}

#u823
{
	z-index: 4;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 100px;
	left: -441px;
}

#u825
{
	z-index: 6;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u831
{
	z-index: 8;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u846
{
	z-index: 10;
	width: 920px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 20px;
}

#u873-4
{
	z-index: 70;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u834-4
{
	z-index: 74;
	margin-right: -10000px;
	margin-top: 8px;
	left: 264px;
}

#u828-4
{
	z-index: 86;
	margin-right: -10000px;
	margin-top: 8px;
	left: 379px;
}

#u882-4
{
	z-index: 78;
	margin-right: -10000px;
	margin-top: 8px;
	left: 499px;
}

#u876-4
{
	z-index: 90;
	margin-right: -10000px;
	margin-top: 8px;
	left: 616px;
}

#u854-4
{
	z-index: 82;
	margin-right: -10000px;
	margin-top: 8px;
	left: 747px;
}

#u848-6
{
	z-index: 94;
	margin-right: -10000px;
	margin-top: 9px;
	left: 853px;
}

#u875
{
	z-index: 11;
	width: 920px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 20px;
}

#u845-4
{
	z-index: 66;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u855
{
	z-index: 116;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 815px;
}

#u862
{
	z-index: 114;
	width: 18px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 894px;
}

#u850
{
	z-index: 12;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 824px;
	left: -441px;
}

#u858
{
	z-index: 14;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 462px;
	left: -441px;
}

#u837
{
	z-index: 16;
	width: 920px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u837_clip
{
	width: 920px;
	height: 95px;
}

#u837_img
{
	margin-right: -51px;
}

#u860
{
	z-index: 18;
	width: 8px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 917px;
}

#u833
{
	z-index: 20;
	width: 1177px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -104px;
}

#u849-4
{
	z-index: 21;
	width: 141px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 143px;
}

#u840-6
{
	z-index: 25;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 309px;
}

#u867
{
	z-index: 35;
	width: 12px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1070px;
}

#u885-4
{
	z-index: 31;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: -23px;
	left: 982px;
}

#u827-4
{
	z-index: 37;
	margin-right: -10000px;
	margin-top: 32px;
	left: 786px;
}

#u839-4
{
	z-index: 41;
	margin-right: -10000px;
	margin-top: 32px;
	left: 887px;
}

#u864-4
{
	z-index: 45;
	margin-right: -10000px;
	margin-top: 62px;
	left: 546px;
}

#u852
{
	z-index: 49;
	width: 41px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 739px;
}

#u877-4
{
	z-index: 51;
	width: 48px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 741px;
}

#u880
{
	z-index: 55;
	width: 24px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 858px;
}

#u829
{
	z-index: 57;
	width: 179px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 739px;
}

#u883
{
	z-index: 59;
	width: 24px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 633px;
}

#u847
{
	z-index: 61;
	width: 90px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 20px;
}

#u874-4
{
	z-index: 62;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u878
{
	z-index: 100;
	width: 13px;
	margin-right: -10000px;
	margin-top: -22px;
	left: 177px;
}

#u878_img
{
	padding-bottom: 1px;
}

#u841
{
	z-index: 102;
	width: 161px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 20px;
}

#u844
{
	z-index: 105;
	width: 149px;
	height: 37px;
	margin-right: -10000px;
}

#u842
{
	z-index: 103;
	width: 12px;
	margin-right: -10000px;
	left: 149px;
}

#u857-4
{
	z-index: 106;
	margin-right: -10000px;
	margin-top: 144px;
	left: 47px;
}

#u822-4
{
	z-index: 110;
	margin-right: -10000px;
	margin-top: 143px;
	left: 194px;
}

#u2382
{
	z-index: 118;
	width: 1842px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1182px;
	left: -441px;
}

#u2270
{
	z-index: 120;
	width: 1842px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1296px;
	left: -441px;
}

#u2252
{
	z-index: 122;
	width: 1842px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1641px;
	left: -441px;
}

#u2272
{
	z-index: 124;
	width: 1842px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1801px;
	left: -441px;
}

#u2333
{
	z-index: 131;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 721px;
	padding: 7px 2px 56px 6px;
}

#u2316-5
{
	z-index: 170;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
}

#u2293-5
{
	z-index: 179;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u2281-5
{
	z-index: 188;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 48px;
	position: relative;
}

#u2306-5
{
	z-index: 197;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 28px;
	position: relative;
}

#u2269-5
{
	z-index: 206;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 39px;
	position: relative;
}

#u2257-5
{
	z-index: 215;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u2317-5
{
	z-index: 224;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 49px;
	position: relative;
}

#u2296-5
{
	z-index: 233;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
}

#u2267-5
{
	z-index: 242;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 49px;
	position: relative;
}

#u2332-5
{
	z-index: 254;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u2305-5
{
	z-index: 263;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 39px;
	position: relative;
}

#u2309-5
{
	z-index: 272;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u2254
{
	z-index: 132;
	width: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1062px;
	left: 720px;
}

#u2330
{
	z-index: 313;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#u2300-5
{
	z-index: 133;
	width: 613px;
	min-height: 17px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 20px;
}

#u2322-4
{
	z-index: 138;
	width: 681px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
	left: 20px;
}

#u2266-4
{
	z-index: 146;
	width: 577px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2052px;
	left: 41px;
}

#u2299-4
{
	z-index: 175;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 728px;
}

#u2280-4
{
	z-index: 184;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 728px;
}

#u2321-4
{
	z-index: 193;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 470px;
	left: 728px;
}

#u2315-4
{
	z-index: 202;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 728px;
}

#u2255-4
{
	z-index: 211;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 728px;
}

#u2290-4
{
	z-index: 220;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 728px;
}

#u2264-4
{
	z-index: 229;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 694px;
	left: 727px;
}

#u2326-4
{
	z-index: 238;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
	left: 727px;
}

#u2328-7
{
	z-index: 247;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 727px;
}

#u2274-4
{
	z-index: 259;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 864px;
	left: 727px;
}

#u2329-4
{
	z-index: 268;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 920px;
	left: 727px;
}

#u2287-4
{
	z-index: 277;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 977px;
	left: 727px;
}

#u2316-2,#u2293-2,#u2281-2,#u2306-2,#u2269-2,#u2257-2,#u2317-2,#u2296-2,#u2267-2,#u2332-2,#u2305-2,#u2309-2,#u2300-2,#u2299,#u2280,#u2321,#u2315,#u2255,#u2290,#u2264,#u2326,#u2328-4,#u2274,#u2329,#u2287
{
	font-weight: normal;
}

#u2304-4
{
	z-index: 281;
	width: 681px;
	min-height: 88px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 714px;
	left: 20px;
}

#u2323
{
	z-index: 306;
	width: 562px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 20px;
}

#u2323_clip
{
	overflow: hidden;
	width: 562px;
	height: 319px;
}

#u2323_img
{
	margin-left: -26px;
	margin-right: -24px;
	margin-bottom: -22px;
}

#u2291
{
	z-index: 308;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 719px;
}

#u2289
{
	z-index: 310;
	width: 483px;
	height: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u2314
{
	z-index: 311;
	width: 99px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 48px;
}

#u2251
{
	z-index: 312;
	width: 70px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 24px;
}

.ie #u2289,.ie #u2314,.ie #u2251
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u2276
{
	z-index: 315;
	width: 571px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 20px;
}

#u2277-4
{
	z-index: 316;
	position: relative;
	width: 101px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2277-4_img
{
	display: block;
	vertical-align: top;
}

#u2278-4
{
	z-index: 320;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 28px;
	line-height: 34px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u2301
{
	z-index: 349;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1510px;
	left: 41px;
}

#u2310
{
	z-index: 362;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2007px;
	left: 41px;
}

#pu2262
{
	z-index: 126;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1663px;
	margin-left: 20px;
}

#ppu2312
{
	width: 0.01px;
	padding-bottom: 25.025000000000546px;
	position: relative;
	left: 21px;
	padding-top: 23px;
	z-index: 2;
}

#u2312
{
	z-index: 332;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2298-4
{
	z-index: 166;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 32px;
}

#u2268-4
{
	z-index: 339;
	width: 578px;
	min-height: 51px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 16px;
	position: relative;
}

#pu2279
{
	z-index: 127;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 799px;
	margin-left: 20px;
}

#ppu2334
{
	width: 0.01px;
	padding-bottom: 20.225000000000364px;
	position: relative;
	left: 21px;
	padding-top: 20px;
	z-index: 2;
}

#u2334
{
	z-index: 324;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2265-4
{
	z-index: 150;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u2308-4
{
	z-index: 142;
	width: 577px;
	min-height: 27px;
	background-color: transparent;
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u2322,#u2266,#u2308
{
	font-weight: bold;
}

#u2263-5
{
	z-index: 285;
	width: 578px;
	min-height: 88px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 10px;
	position: relative;
}

#u2263-2
{
	font-weight: bold;
	font-style: italic;
}

#pu2260
{
	z-index: 128;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1046px;
	margin-left: 20px;
}

#ppu2285
{
	width: 0.01px;
	position: relative;
	left: 21px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 22px;
}

#u2285
{
	z-index: 326;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2325-4
{
	z-index: 154;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u2259-8
{
	z-index: 290;
	width: 578px;
	min-height: 88px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#pu2327
{
	z-index: 129;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1825px;
	margin-left: 20px;
}

#ppu2336
{
	width: 0.01px;
	position: relative;
	left: 21px;
	padding-top: 22px;
	z-index: 2;
	padding-bottom: 8px;
}

#u2336
{
	z-index: 328;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2275-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 32px;
}

#u2258-4
{
	z-index: 298;
	width: 578px;
	min-height: 68px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#pu2288
{
	z-index: 130;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1356px;
	margin-left: 20px;
}

#ppu2282
{
	width: 0.01px;
	position: relative;
	left: 21px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 15px;
}

#u2282
{
	z-index: 330;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2297-4
{
	z-index: 162;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u2261-4
{
	z-index: 302;
	width: 578px;
	min-height: 29px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#pu2256
{
	z-index: 334;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1490px;
	margin-left: 20px;
}

#ppu2294
{
	width: 0.01px;
	position: relative;
	left: 21px;
	padding-top: 20px;
	z-index: 2;
	padding-bottom: 17px;
}

#u2294
{
	z-index: 343;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2284-4
{
	z-index: 345;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u2307-4
{
	z-index: 335;
	width: 578px;
	min-height: 65px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 17px;
	position: relative;
}

#pu2303
{
	z-index: 351;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1987px;
	margin-left: 20px;
}

#u2262,#u2279,#u2260,#u2327,#u2288,#u2256,#u2303
{
	z-index: 0;
	width: 647px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#ppu2318
{
	width: 0.01px;
	padding-bottom: 17.225000000001728px;
	position: relative;
	left: 21px;
	padding-top: 20px;
	z-index: 2;
}

#pu2312,#pu2334,#pu2285,#pu2336,#pu2282,#pu2294,#pu2318
{
	width: 0.01px;
}

#u2318
{
	z-index: 356;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2250-4
{
	z-index: 358;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 32px;
}

#u2320-4
{
	z-index: 352;
	width: 578px;
	min-height: 57px;
	background-color: transparent;
	color: #000000;
	line-height: 22px;
	margin-top: 51px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 43px;
}

#page .verticalspacer
{
	clear: both;
}

