.version.index /* version checker */
{
	color: #0000F5;
	background-color: #D53A46;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2588px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 45px;
	margin-left: auto;
	margin-right: auto;
}

#u187
{
	z-index: 2;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 100px;
	left: -441px;
}

#u222
{
	z-index: 4;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u232
{
	z-index: 6;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u256
{
	z-index: 8;
	width: 920px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 20px;
}

#u269-4
{
	z-index: 76;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u272-4
{
	z-index: 80;
	margin-right: -10000px;
	margin-top: 8px;
	left: 264px;
}

#u271-4
{
	z-index: 92;
	margin-right: -10000px;
	margin-top: 8px;
	left: 379px;
}

#u274-4
{
	z-index: 84;
	margin-right: -10000px;
	margin-top: 8px;
	left: 499px;
}

#u273-4
{
	z-index: 96;
	margin-right: -10000px;
	margin-top: 8px;
	left: 616px;
}

#u276-4
{
	z-index: 88;
	margin-right: -10000px;
	margin-top: 8px;
	left: 747px;
}

#u275-6
{
	z-index: 100;
	margin-right: -10000px;
	margin-top: 9px;
	left: 853px;
}

#u314
{
	z-index: 9;
	width: 920px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 20px;
}

#u333-4
{
	z-index: 72;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u327
{
	z-index: 122;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 815px;
}

#u318
{
	z-index: 120;
	width: 18px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 894px;
}

#u202
{
	z-index: 10;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 824px;
	left: -441px;
}

#u208
{
	z-index: 12;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 1910px;
	left: -441px;
}

#u2487
{
	z-index: 14;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 2272px;
	left: -441px;
}

#u196
{
	z-index: 16;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 462px;
	left: -441px;
}

#u211
{
	z-index: 18;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 1548px;
	left: -441px;
}

#u199
{
	z-index: 20;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 1186px;
	left: -441px;
}

#u164
{
	z-index: 22;
	width: 920px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u164_clip
{
	width: 920px;
	height: 95px;
}

#u164_img
{
	margin-right: -51px;
}

#u324
{
	z-index: 24;
	width: 8px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 917px;
}

#u122
{
	z-index: 26;
	width: 1939px;
	padding-bottom: 7px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -485px;
}

#u123-4
{
	z-index: 27;
	width: 141px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 485px;
}

#u130-6
{
	z-index: 31;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 651px;
}

#u158
{
	z-index: 41;
	width: 12px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1399px;
}

#u138-4
{
	z-index: 37;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1415px;
}

#u170-4
{
	z-index: 43;
	margin-right: -10000px;
	margin-top: 32px;
	left: 786px;
}

#u235-4
{
	z-index: 47;
	margin-right: -10000px;
	margin-top: 32px;
	left: 887px;
}

#u249-4
{
	z-index: 51;
	margin-right: -10000px;
	margin-top: 62px;
	left: 546px;
}

#u174
{
	z-index: 55;
	width: 41px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 739px;
}

#u185-4
{
	z-index: 57;
	width: 48px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 741px;
}

#u226
{
	z-index: 61;
	width: 24px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 858px;
}

#u236
{
	z-index: 63;
	width: 179px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 739px;
}

#u250
{
	z-index: 65;
	width: 24px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 633px;
}

#u257
{
	z-index: 67;
	width: 90px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 20px;
}

#u258-4
{
	z-index: 68;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u259
{
	z-index: 106;
	width: 13px;
	margin-right: -10000px;
	margin-top: -22px;
	left: 138px;
}

#u259_img
{
	padding-bottom: 1px;
}

#u295
{
	z-index: 108;
	width: 161px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 20px;
}

#u298
{
	z-index: 111;
	width: 149px;
	height: 37px;
	margin-right: -10000px;
}

#u296
{
	z-index: 109;
	width: 12px;
	margin-right: -10000px;
	left: 149px;
}

#u299-4
{
	z-index: 112;
	margin-right: -10000px;
	margin-top: 144px;
	left: 47px;
}

#u305-4
{
	z-index: 116;
	margin-right: -10000px;
	margin-top: 143px;
	left: 194px;
}

#u2524
{
	z-index: 124;
	width: 780px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 742px;
	left: 43px;
	padding: 27px 97px 41.250000000001364px 19px;
}

#pu2533
{
	width: 0.01px;
}

#u2533
{
	z-index: 150;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2533_img
{
	margin-left: -6px;
	margin-right: -5px;
	margin-bottom: 3px;
}

#pu2619-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 260px;
}

#u2619-4
{
	z-index: 372;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2555-4
{
	z-index: 172;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	letter-spacing: 0px;
	font-size: 12px;
	line-height: 20px;
	margin-top: 27px;
	position: relative;
}

#u2553
{
	z-index: 170;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2616
{
	z-index: 363;
	width: 520px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2618-4
{
	z-index: 364;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2617-4
{
	z-index: 368;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u2585-4
{
	z-index: 243;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2551
{
	width: 0.01px;
	margin-top: 33px;
}

#u2551
{
	z-index: 168;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2608-4
{
	z-index: 346;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2584-4
{
	z-index: 239;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#u2549
{
	z-index: 166;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2607-4
{
	z-index: 342;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2583-4
{
	z-index: 235;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 33px;
	position: relative;
}

#u2547
{
	z-index: 164;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2613
{
	z-index: 354;
	width: 517px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u2614-4
{
	z-index: 355;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u2615-4
{
	z-index: 359;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 56px;
}

#u2582-4
{
	z-index: 231;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2549,#pu2547,#pu2545
{
	width: 0.01px;
	margin-top: 29px;
}

#u2545
{
	z-index: 162;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2606-4
{
	z-index: 338;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2581-4
{
	z-index: 227;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2553,#pu2543
{
	width: 0.01px;
	margin-top: 27px;
}

#u2543
{
	z-index: 160;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2605-4
{
	z-index: 334;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2580-8
{
	z-index: 219;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2541
{
	width: 0.01px;
	margin-top: 26px;
}

#u2541
{
	z-index: 158;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2604-4
{
	z-index: 330;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2579-4
{
	z-index: 215;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2539
{
	width: 0.01px;
	margin-top: 24px;
}

#u2539
{
	z-index: 156;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#pu2607-4,#pu2613,#pu2599-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 260px;
}

#u2599-4
{
	z-index: 310;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2578-4
{
	z-index: 211;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 30px;
	position: relative;
}

#pu2537
{
	width: 0.01px;
	margin-top: 23px;
}

#u2537
{
	z-index: 154;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu2616,#pu2608-4,#pu2606-4,#pu2605-4,#pu2604-4,#pu2603-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 260px;
}

#u2603-4
{
	z-index: 326;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}

#u2577-4
{
	z-index: 207;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	margin-top: 32px;
	position: relative;
}

#pu2535
{
	width: 0.01px;
	margin-top: 22px;
}

#u2535
{
	z-index: 152;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2576-4
{
	z-index: 203;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 260px;
}

#pu2609
{
	width: 0.01px;
	margin-top: 21px;
}

#u2609
{
	z-index: 350;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2575-4
{
	z-index: 199;
	width: 487px;
	min-height: 55px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 12px;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 261px;
}

#u2525
{
	z-index: 125;
	width: 483px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 456px;
}

#u2525_position_content
{
	padding-top: 29px;
	padding-bottom: 95px;
}

#u2528-4
{
	z-index: 134;
	width: 441px;
	min-height: 52px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-left: 42px;
	position: relative;
}

#u2529-6
{
	z-index: 138;
	width: 441px;
	min-height: 16px;
	background-color: transparent;
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	margin-left: 42px;
	margin-top: 8px;
	position: relative;
}

#u2529-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2529
{
	font-size: 14px;
	color: #7F7F7F;
	line-height: 17px;
}

#u2529-2,#u2529-3
{
	font-size: 14px;
	line-height: 17px;
}

#u2530-4
{
	z-index: 144;
	width: 400px;
	min-height: 72px;
	background-color: transparent;
	color: #000000;
	font-size: 16px;
	line-height: 20px;
	margin-left: 42px;
	margin-top: 11px;
	position: relative;
}

#u2526-4
{
	z-index: 126;
	width: 613px;
	min-height: 100px;
	background-color: transparent;
	font-size: 34px;
	line-height: 41px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 43px;
}

#u2526
{
	font-size: 34px;
}

#u2527-4
{
	z-index: 130;
	width: 697px;
	min-height: 52px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 43px;
}

#u2531
{
	z-index: 148;
	width: 437px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 43px;
}

#u2531_img
{
	padding-right: 24px;
}

#u2556-5
{
	z-index: 176;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 813px;
	left: 324px;
}

#u2557
{
	z-index: 181;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2298px;
	left: 63px;
}

#u2557_img
{
	margin-left: -6px;
	margin-right: -5px;
	margin-bottom: 2px;
}

#u2559
{
	z-index: 183;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2133px;
	left: 63px;
}

#u2561
{
	z-index: 185;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1966px;
	left: 63px;
}

#u2563
{
	z-index: 187;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1798px;
	left: 63px;
}

#u2565
{
	z-index: 189;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1628px;
	left: 63px;
}

#u2567
{
	z-index: 191;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1458px;
	left: 63px;
}

#u2569
{
	z-index: 193;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1286px;
	left: 63px;
}

#u2569_img
{
	margin-left: -11px;
	margin-bottom: 2px;
}

#u2571
{
	z-index: 195;
	width: 240px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1113px;
	left: 63px;
}

#u2553_img,#u2551_img,#u2549_img,#u2547_img,#u2545_img,#u2543_img,#u2541_img,#u2539_img,#u2537_img,#u2535_img,#u2559_img,#u2571_img
{
	margin-left: -6px;
	margin-right: -5px;
}

#u2573
{
	z-index: 197;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 939px;
	left: 63px;
}

#u2533_clip,#u2553_clip,#u2551_clip,#u2549_clip,#u2547_clip,#u2545_clip,#u2543_clip,#u2541_clip,#u2539_clip,#u2537_clip,#u2535_clip,#u2557_clip,#u2559_clip,#u2561_clip,#u2567_clip,#u2569_clip,#u2571_clip,#u2573_clip
{
	overflow: hidden;
	width: 240px;
	height: 142px;
}

#u2561_img,#u2567_img,#u2573_img
{
	margin-left: -6px;
	margin-right: -5px;
	margin-bottom: 1px;
}

#u2586-5
{
	z-index: 247;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2651px;
	left: 323px;
}

#u2587-5
{
	z-index: 252;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2487px;
	left: 323px;
}

#u2588-5
{
	z-index: 257;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2344px;
	left: 323px;
}

#u2589-5
{
	z-index: 262;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2175px;
	left: 323px;
}

#u2590-5
{
	z-index: 267;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2009px;
	left: 323px;
}

#u2591-5
{
	z-index: 272;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1841px;
	left: 323px;
}

#u2592-5
{
	z-index: 277;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1672px;
	left: 323px;
}

#u2593-5
{
	z-index: 282;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1501px;
	left: 323px;
}

#u2594-5
{
	z-index: 287;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1329px;
	left: 323px;
}

#u2595-5
{
	z-index: 292;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1156px;
	left: 323px;
}

#u2596-5
{
	z-index: 297;
	width: 612px;
	min-height: 28px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 982px;
	left: 323px;
}

#u2556-2,#u2586-2,#u2587-2,#u2588-2,#u2589-2,#u2590-2,#u2591-2,#u2592-2,#u2593-2,#u2594-2,#u2595-2,#u2596-2
{
	font-weight: normal;
}

#u2597-4
{
	z-index: 302;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2626px;
	left: 323px;
}

#u2598-4
{
	z-index: 306;
	width: 461px;
	min-height: 28px;
	background-color: transparent;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2461px;
	left: 323px;
}

#u2600-4
{
	z-index: 314;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 2626px;
	left: 323px;
}

#u2601-4
{
	z-index: 318;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2462px;
	left: 323px;
}

#u2602-4
{
	z-index: 322;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 2134px;
	left: 323px;
}

#u2611
{
	z-index: 352;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2461px;
	left: 63px;
}

#u2620-4
{
	z-index: 376;
	position: relative;
	width: 91px;
	margin-right: -10000px;
	margin-top: 775px;
	left: 323px;
}

#u2618-4_img,#u2614-4_img,#u2600-4_img,#u2602-4_img,#u2620-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 85px;
}

#page .verticalspacer
{
	clear: both;
}

