#u959
{
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,-431,557);
	-ms-transform: matrix(0,-1,1,0,-431,557);
	transform: matrix(0,-1,1,0,-431,557);
	position: relative;
}

#u846,#u875
{
	background-color: #2F363C;
	position: relative;
}

#u959_clip,#u837_clip
{
	overflow: hidden;
}

#u833
{
	background-color: #000000;
	position: relative;
}

#u849-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	position: relative;
}

#u849
{
	text-decoration: underline;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u840-2
{
	letter-spacing: 0px;
	line-height: 13px;
}

#u840,#u840-3
{
	line-height: 13px;
}

#u840-6,#u885-4
{
	position: relative;
}

#u840-4,#u885-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u885
{
	font-weight: bold;
	line-height: 13px;
}

#u877-4
{
	background-color: transparent;
	text-transform: uppercase;
	color: #D27610;
	font-size: 9px;
	line-height: 11px;
	position: relative;
}

#u883
{
	background-color: transparent;
	-webkit-transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	-ms-transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	position: relative;
}

#u847
{
	background-color: #FFFFFF;
	position: relative;
}

#u878
{
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,13,10);
	-ms-transform: matrix(-1,0,0,-1,13,10);
	transform: matrix(-1,0,0,-1,13,10);
	position: relative;
}

#u841
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u844
{
	background-color: #F1F1F1;
	position: relative;
}

#u823,#u825,#u831,#u855,#u862,#u850,#u858,#u837,#u860,#u867,#u852,#u880,#u829,#u842
{
	background-color: transparent;
	position: relative;
}

#u873-4,#u834-4,#u828-4,#u882-4,#u876-4,#u854-4,#u848-6,#u845-4,#u827-4,#u839-4,#u864-4,#u874-4,#u857-4,#u822-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

