.version.barateon_hit /* version checker */
{
	color: #0000E2;
	background-color: #7F3720;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1186px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u959
{
	z-index: 2;
	width: 125px;
	margin-bottom: -431px;
	margin-right: -10000px;
	margin-top: 655px;
	left: 429px;
}

#u959_clip
{
	width: 125px;
	height: 988px;
}

#u959_img
{
	margin-left: -423px;
	margin-right: -1294px;
}

#u823
{
	z-index: 4;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 100px;
	left: -441px;
}

#u825
{
	z-index: 6;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u831
{
	z-index: 8;
	width: 1842px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -441px;
}

#u846
{
	z-index: 10;
	width: 920px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 20px;
}

#u873-4
{
	z-index: 70;
	margin-right: -10000px;
	margin-top: 8px;
	left: 123px;
}

#u834-4
{
	z-index: 74;
	margin-right: -10000px;
	margin-top: 8px;
	left: 264px;
}

#u828-4
{
	z-index: 86;
	margin-right: -10000px;
	margin-top: 8px;
	left: 379px;
}

#u882-4
{
	z-index: 78;
	margin-right: -10000px;
	margin-top: 8px;
	left: 499px;
}

#u876-4
{
	z-index: 90;
	margin-right: -10000px;
	margin-top: 8px;
	left: 616px;
}

#u854-4
{
	z-index: 82;
	margin-right: -10000px;
	margin-top: 8px;
	left: 747px;
}

#u848-6
{
	z-index: 94;
	margin-right: -10000px;
	margin-top: 9px;
	left: 853px;
}

#u875
{
	z-index: 11;
	width: 920px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 20px;
}

#u845-4
{
	z-index: 66;
	margin-right: -10000px;
	margin-top: 10px;
	left: 10px;
}

#u855
{
	z-index: 116;
	width: 77px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 815px;
}

#u862
{
	z-index: 114;
	width: 18px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 894px;
}

#u850
{
	z-index: 12;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 824px;
	left: -441px;
}

#u858
{
	z-index: 14;
	width: 1842px;
	margin-right: -10000px;
	margin-top: 462px;
	left: -441px;
}

#u837
{
	z-index: 16;
	width: 920px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u837_clip
{
	width: 920px;
	height: 95px;
}

#u837_img
{
	margin-right: -51px;
}

#u860
{
	z-index: 18;
	width: 8px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 917px;
}

#u833
{
	z-index: 20;
	width: 1177px;
	padding-bottom: 9px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -104px;
}

#u849-4
{
	z-index: 21;
	width: 141px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 143px;
}

#u840-6
{
	z-index: 25;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 309px;
}

#u867
{
	z-index: 35;
	width: 12px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1070px;
}

#u885-4
{
	z-index: 31;
	width: 351px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: -23px;
	left: 982px;
}

#u827-4
{
	z-index: 37;
	margin-right: -10000px;
	margin-top: 32px;
	left: 786px;
}

#u839-4
{
	z-index: 41;
	margin-right: -10000px;
	margin-top: 32px;
	left: 887px;
}

#u864-4
{
	z-index: 45;
	margin-right: -10000px;
	margin-top: 62px;
	left: 546px;
}

#u852
{
	z-index: 49;
	width: 41px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 739px;
}

#u877-4
{
	z-index: 51;
	width: 48px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 741px;
}

#u880
{
	z-index: 55;
	width: 24px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 858px;
}

#u829
{
	z-index: 57;
	width: 179px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 739px;
}

#u883
{
	z-index: 59;
	width: 24px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 633px;
}

#u847
{
	z-index: 61;
	width: 90px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 20px;
}

#u874-4
{
	z-index: 62;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u878
{
	z-index: 100;
	width: 13px;
	margin-right: -10000px;
	margin-top: -22px;
	left: 177px;
}

#u878_img
{
	padding-bottom: 1px;
}

#u841
{
	z-index: 102;
	width: 161px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 20px;
}

#u844
{
	z-index: 105;
	width: 149px;
	height: 37px;
	margin-right: -10000px;
}

#u842
{
	z-index: 103;
	width: 12px;
	margin-right: -10000px;
	left: 149px;
}

#u857-4
{
	z-index: 106;
	margin-right: -10000px;
	margin-top: 144px;
	left: 47px;
}

#u822-4
{
	z-index: 110;
	margin-right: -10000px;
	margin-top: 143px;
	left: 194px;
}

#u1336
{
	z-index: 118;
	width: 681px;
	border-style: none;
	border-color: transparent;
	background-color: #F1F1F1;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 745px;
	left: 20px;
}

#u1309-4
{
	z-index: 254;
	width: 608px;
	min-height: 53px;
	background-color: transparent;
	font-size: 17px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 28px;
}

#u1315
{
	z-index: 119;
	width: 211px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 325px;
	left: 721px;
	padding: 7px 2px 56px 6px;
}

#u1306-5
{
	z-index: 137;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}

#u1324-5
{
	z-index: 146;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u1313-5
{
	z-index: 155;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 48px;
	position: relative;
}

#u1326-5
{
	z-index: 164;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 28px;
	position: relative;
}

#u1296-5
{
	z-index: 173;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 39px;
	position: relative;
}

#u1302-5
{
	z-index: 182;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u1319-5
{
	z-index: 191;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 49px;
	position: relative;
}

#u1328-5
{
	z-index: 200;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 30px;
	position: relative;
}

#u1330-5
{
	z-index: 209;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 49px;
	position: relative;
}

#u1323-5
{
	z-index: 221;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u1321-5
{
	z-index: 230;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 39px;
	position: relative;
}

#u1297-5
{
	z-index: 239;
	width: 211px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	font-weight: bold;
	margin-top: 40px;
	position: relative;
}

#u1329
{
	z-index: 120;
	width: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #E3E3E3;
	background-color: transparent;
	padding-bottom: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1062px;
	left: 720px;
}

#u1298
{
	z-index: 263;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: -1px;
}

#u1310-6
{
	z-index: 121;
	width: 681px;
	min-height: 100px;
	background-color: transparent;
	line-height: 34px;
	font-size: 28px;
	letter-spacing: -1px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 20px;
}

#u1334-5
{
	z-index: 127;
	width: 613px;
	min-height: 17px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 20px;
}

#u1322-5
{
	z-index: 132;
	width: 681px;
	min-height: 42px;
	background-color: transparent;
	line-height: 20px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 692px;
	left: 20px;
}

#u1322
{
	font-weight: bold;
}

#u1327-4
{
	z-index: 142;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 728px;
}

#u1308-4
{
	z-index: 151;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 728px;
}

#u1300-4
{
	z-index: 160;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 470px;
	left: 728px;
}

#u1331-4
{
	z-index: 169;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 515px;
	left: 728px;
}

#u1307-4
{
	z-index: 178;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 728px;
}

#u1314-4
{
	z-index: 187;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 728px;
}

#u1312-4
{
	z-index: 196;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 694px;
	left: 727px;
}

#u1335-4
{
	z-index: 205;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
	left: 727px;
}

#u1318-7
{
	z-index: 214;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 727px;
}

#u1303-4
{
	z-index: 226;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 864px;
	left: 727px;
}

#u1332-4
{
	z-index: 235;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 920px;
	left: 727px;
}

#u1325-4
{
	z-index: 244;
	width: 211px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 977px;
	left: 727px;
}

#u1306-2,#u1324-2,#u1313-2,#u1326-2,#u1296-2,#u1302-2,#u1319-2,#u1328-2,#u1330-2,#u1323-2,#u1321-2,#u1297-2,#u1334-2,#u1327,#u1308,#u1300,#u1331,#u1307,#u1314,#u1312,#u1335,#u1318-4,#u1303,#u1332,#u1325
{
	font-weight: normal;
}

#u1311-4
{
	z-index: 248;
	width: 681px;
	min-height: 88px;
	background-color: transparent;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 846px;
	left: 20px;
}

#u1304
{
	z-index: 252;
	width: 562px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 20px;
}

#u1304_clip
{
	overflow: hidden;
	width: 562px;
	height: 319px;
}

#u1304_img
{
	margin-left: -26px;
	margin-right: -25px;
	margin-bottom: -24px;
}

#u1316
{
	z-index: 258;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 719px;
}

#u1320
{
	z-index: 260;
	width: 483px;
	height: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 20px;
}

#u1301
{
	z-index: 261;
	width: 99px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 48px;
}

#u1333
{
	z-index: 262;
	width: 70px;
	height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 24px;
}

.ie #u1320,.ie #u1301,.ie #u1333
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1909-4
{
	z-index: 265;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 20px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 45px;
}

#page .verticalspacer
{
	clear: both;
}

