#u256,#u314
{
	background-color: #2F363C;
	position: relative;
}

#u164_clip
{
	overflow: hidden;
}

#u122
{
	background-color: #000000;
	position: relative;
}

#u123-4
{
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	position: relative;
}

#u123
{
	text-decoration: underline;
}

.Style
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u130-2
{
	letter-spacing: 0px;
	line-height: 13px;
}

#u130,#u130-3
{
	line-height: 13px;
}

#u130-6,#u138-4
{
	position: relative;
}

#u130-4,#u138-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u138
{
	font-weight: bold;
	line-height: 13px;
}

#u185-4
{
	background-color: transparent;
	line-height: 11px;
	text-transform: uppercase;
	color: #D27610;
	font-size: 9px;
	position: relative;
}

#u250
{
	background-color: transparent;
	-webkit-transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	-ms-transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	transform: matrix(0.9781,0.2079,-0.2079,0.9781,3,-2);
	position: relative;
}

#u257
{
	background-color: #FFFFFF;
	position: relative;
}

#u259
{
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,13,10);
	-ms-transform: matrix(-1,0,0,-1,13,10);
	transform: matrix(-1,0,0,-1,13,10);
	position: relative;
}

#u295
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u298
{
	background-color: #F1F1F1;
	position: relative;
}

#u187,#u222,#u232,#u327,#u318,#u202,#u208,#u2487,#u196,#u211,#u199,#u164,#u324,#u158,#u174,#u226,#u236,#u296
{
	background-color: transparent;
	position: relative;
}

#u269-4,#u272-4,#u271-4,#u274-4,#u273-4,#u276-4,#u275-6,#u333-4,#u170-4,#u235-4,#u249-4,#u258-4,#u299-4,#u305-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

