.version.walker /* version checker */
{
	color: #000012;
	background-color: #C82780;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 666px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u2024
{
	z-index: 2;
	width: 1248px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -144px;
}

#u2030-4
{
	z-index: 4;
	width: 42px;
	min-height: 38px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	-webkit-transform: matrix(0,1,-1,0,40,-2);
	-ms-transform: matrix(0,1,-1,0,40,-2);
	transform: matrix(0,1,-1,0,40,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 846px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

